
*
{
  margin:0;padding:0;
}

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .content_containter {
      background-color: #83685b;
      color: #fff;
      padding: 20px;
    }

    .content_page
    {
      position: relative;
      top: -15vh;
    }

    .content-me img
    {
      width: 50%;
    }

    .content-me p
    {
      width: 50%;
    }

    .hero-content video
    {
      width: 100%;
      border-radius: 10%
    }

    img
    {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10%
    }

    .content_wrapper
    {
        max-width: 1173px;
        display: flex;
        justify-content: space-around;
        margin: 60px auto;

    }

    .line
    {
        height: 2px;
        background-color: white;
        width: 100%;
    }

    .line_container
    {
      display: flex;
      align-items: center;
      height: 100%;
    }

    .line-content
    {
      width: 30%;
      height: 500px;
    }

    .content
    {
      display: flex;
      justify-content: center;
      width: 30%;
      height: 500px;
    }

    .game_content{
      display: flex;
      align-items: center;
      height: 100%;
    }

    .content-me
    {
      display: flex;
      justify-content: center;
      max-width: 1173px;
    }

    .content-me p
    {
      margin-left: 30px;
      text-align: left;
    }

    .gamepage
    {
      display: flex;
      justify-content: space-between;
    }

    .gamepage_text
    {
      max-width: 50%;
    }

    .gamepage_text p
    {
      text-align: left;
      margin-left: 30px;
    }

    .content-me img
    {
      width: 50%
    }


    .game_content p{
      width: 100%;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;

    }

    h1 {
      font-size: 36px;
      margin-bottom: 20px;
    }

    p {
      font-size: 20px;
      font-family: 'Arvo', serif;
      margin-bottom: 10px;
    }

    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      text-decoration: none;
      border-radius: 4px;
    }

    .button:hover {
      background-color: #555;
    }

    .hero-banner {
      position: relative;
      background-size: cover;
      background-position: center;
      height: 100vh;
      color: #fff;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #D1AE9B;
    }

    .hero-content {
      max-width: 1173px;
      margin: 0 auto;
      padding: 20px;
    }



    @font-face {
    font-family: 'buildingcondensed_medium';
    src: url('Fonts/adam.cg_pro-webfont.woff2') format('woff2'),
         url('Fonts/adam.cg_pro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.site-header
{
  min-height: 15%;
  align-items: center;
  transition: all .25s cubic-bezier(.555,.205,.295,.975);
  display: flex;
  z-index: 1;
}

.header-wrap
{
  position:fixed;
  width: 100%;
  z-index: 10000000;
}

.nav-bar
{
  padding-top: 4rem;
  padding-bottom: .5rem;
  transition: all .25s cubic-bezier(.555,.205,.295,.975);
  margin: 0 auto;
  max-width: 120rem;
  width: 85%;
  align-items: center;
  flex-wrap: nowrap;
  display: flex;
}

.nav-bar-left
{
  flex: 1 1 auto;
  margin-right: auto;
}

.nav-bar-right
{
  flex: 0 1 auto;
  margin-left: auto;
}

.responsive-icon
{
  display: none;
}

.responsive-menu-item
{
  display: none;
}

.menu-item
{
  margin-left: 4rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Lilita One', cursive;
  font-size: 28px;
}

.icon
{
  border: 3.5px solid white;
  color: white;
  font-size: 24px;
  font-family: 'buildingcondensed_medium';
  display: inline-block;
  padding: 0.1em;
}

.icon p
{
  margin: 0;
}

.shrink
{
  background: #e7d7c9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.shrink-container
{
  padding-top: .5rem;
}

.shrink-icon
{
  border: 3.5px solid #83685b;
  color: #83685b;
}
.shadow-hover:hover
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hidden
{
  opacity: 0;
}

.arrow
{
  margin: 0 auto;;
  text-decoration: none;
  display: block;
  color: black;
  font-size: 32px;
  padding-top: .2rem;
}

.game_highlights
{
  margin: 0 auto;
  max-width: 120rem;
  width: 85%;
  padding-top: 4rem;
  padding-bottom: 4rem
}

.highlight
{
  overflow: hidden;
  position: relative;
}

.highlight_player
{
  overflow: hidden;
  position: relative;
}

.highlight_active
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  display: none;
}

#highlight_spacer
{
  width: 100%;
  max-height: 480px;
  display: block;
}

.highlight_player_area
{
  overflow: hidden;
  position: relative;
}

.highlight_strip
{
  position: relative;
  z-index: 40;
  height: 120px;
  align-items: center;
}

.highlight_scroll
{
  position: absolute;
  display: flex;
  align-items: center;
  left: 0px;
  transition: left 1s;
}

.highlight_strip_item
{
  height: 100px;
  width: 40%;
  text-align: center;
  position: relative;
  float: left;
  margin: 10px 5px 10px 5px;
  cursor: pointer;
  opacity: 1;
}

.highlight_strip_item:hover
{
  opacity: 1 !important;
}

.highlight_button_left
{
  width: 40px;
  height: 40px;
  position: absolute;
  background: black;
  z-index: 2;
  left: 0px;
  top: 40px;
  opacity: .5;
  float: left;
  display: flex;
}

.highlight_button_right
{
  width: 40px;
  height: 40px;
  position: absolute;
  background: black;
  z-index: 2;
  right: 0px;
  top: 40px;
  opacity: .5;
  float: right;
  display: flex;
}

.arrow_left
{
  z-index: 1;
  color: white;
  position: absolute;
  transform: rotate(-90deg);
  top: 6px;
  left: 7px;
}

.arrow_right
{
  z-index: 1;
  color: white;
  position: absolute;
  transform: rotate(90deg);
  top: 6px;
  left: 10px;
}


.button
{
  background-color: #333;
  padding: .2rem;
  float: left;
  font-size: 21px;
  color: white;
  top: 0;
  transition: top 0.2s;
  position: relative;
  font-family: 'Lobster', cursive;
}

.button:hover
{
  color: orange;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: -5px;
}

.inner_button
{
    border: solid 1px white;
    padding: .1rem 1rem;
}

.inner_button p
{
    margin: 2px;
}

.inner_button:hover
{
    border: solid 1px orange;
}


@media screen and (max-width: 1055px)
{
  .shrink
  {
    background: #f4f4f4;
    box-shadow: none;
  }

  .menu-item
  {
    display: none;
    margin-left: 0;
  }
  .nav-bar
  {
    padding-top: 1rem;
  }
  .responsive-menu-wrap
  {
    transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    z-index: 1000000;
  }
  .responsive-menu
  {
    height: 100vh;
    padding: 0;
    width: 85%;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    flex-wrap: nowrap;
    flex-direction: column;
    list-style: none;
    position: relative;
    display: flex;
  }

  .responsive-icon
  {
    display: block;
  }

  .responsive-menu-item
  {
    display: block;
    margin-bottom: 2rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-family: 'Roboto Condensed', sans-serif;
  }
}
